name: Testing

on:
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 18.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Change directory to Frontend
        run: cd Frontend
      - name: npm install
        run: |
          npm install
          npm ci
          npm install --save-dev jest
          npm install --save-dev mongoose
          npm install --save-dev mongodb-memory-server
          npm install --save-dev @babel/preset-react @babel/preset-typescript babel-jest

      - name: tests
        run: npx jest Frontend/src/test/FooterSection.test.tsx --config=jest.config.js
